*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    background-color: rgb(241, 240, 239);
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Calculator{
    background-color: rgb(215, 209, 201);
    color: black;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 12px rgb(215, 209, 201);
}